.footerWrapper {
  border-top: 1px solid var(--gray);
  margin-top: 2rem;
  min-height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerText {
  font-size: 0.8rem;
}
.footerLink {
  color: var(--blue);
  padding: 0.2rem 0.4rem;
  text-decoration: underline;
}
.footerLink:hover {
  color: var(--blue);
  text-decoration: none;
}
