/* for devices not wider than 428px */
@media (max-width: 428px) {
  .container {
    color: var(--black);
    margin: 10px auto;
    padding: 0 30px;
  }
}
/* for devices wider than 430 */
@media (min-width: 429px) {
  .container {
    color: var(--black);
    margin: 20px auto;
    max-width: var(--width);
    padding: 0 30px;
  }
}
